/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// @type Color
$black: #212121 !default;

/// @type Color
$green-dark: #186049 !default;

/// @type Color
$green-medium: #22795d !default;

/// @type Color
$green-light: #2f8569 !default;

/// @type Color
$green-extra-light: #89c1b0 !default;

/// @type Color
$green-extra-light-opacity: #89c1b030 !default;

/// @type Color
$purple-medium: #ab5abb !default;

/// @type Color
$purple-light: #e694ff !default;

/// @type Color
$grey-medium: #cdcdcd !default;

/// @type Color
$grey-dark: #909090 !default;

/// @type Color
$grey-light: #d9d9d9 !default;

/// @type Color
$white-medium: #ffffff !default;

$shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

/// @prop {String} keys
/// @prop {Map} values
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// @type String
/// @example scss
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
